# ZIP
**/*.zip
*.zip
/**/*.zip

# CSV
**/*.csv
*.csv
/**/*.csv

# Parquet
**/*.parquet
*.parquet
/**/*.parquet

# Kaggle JSON
kaggle.json

# SWP
**/*.swp
*.swp
/**/*.swp

# DB
**/*.db*
*.db*
/**/*.db*
