# ZIP
**/*.zip
*.zip
/**/*.zip

# CSV
**/*.csv
*.csv
/**/*.csv

# Parquet
**/*.parquet
*.parquet
/**/*.parquet

# Kaggle JSON
kaggle.json
**/*.json
*.json
/**/*.json

# SWP
**/*.swp
*.swp
/**/*.swp

# DB
**/*.db*
*.db*
/**/*.db*

# GDB
**/*.gdb*
*.gdb*
/**/*.gdb*

# GPKG
**/*.gpkg*
*.gpkg*
/**/*.gpkg*